.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-items: center;
  gap: 20px;
}

.container > * {
  background-color: rgb(197, 245, 165);
  width: 50vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-items: center;
}

img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -59;
  width: 120%;
  height: 120%;
}

li {
  display: flex;
  justify-content: space-between;
}

button {
  margin-right: 20px;
  margin-left: 50px;
}

.todo-list {
  width: 50vh;
}
